@import "variables";
@mixin p ($weight, $size, $color) {
    text-align: center;
    padding: 25px;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: $Light;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 720px;
    
}.card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $White;
    height: 475px;
    width: 300px;
    border-radius: 15px;
    box-shadow: -1px 8px 38px -4px rgba(0,0,0,0.37);
    -webkit-box-shadow: -1px 8px 38px -4px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px 8px 38px -4px rgba(0,0,0,0.37);
}.card__qr img{
    margin-top: 30px;
    height: 275px;
    width: 275px;
    border-radius: 10px;
}.card__p p {
    @include p(700, 20px, $Dark);
} .card__p2 p {
    @include p(100, 15px, $Grayish);
}


